{% load static %}
<section id="about" class="about">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-5 align-items-stretch video-box" style='background-image: url("static/img/about.jpg");'>
        <a href="https://www.youtube.com/watch?v=Yc8Ym1SSGfA&list=PLp65X89m1m7YgJczaxAuKOkkFT1kGh_ID&index=24"
          target="_blank" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
      </div>
      <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">
        <div class="content">
          <h3>Belo Horizonte é uma referência da <strong><br>cozinha mineira</strong></h3>
          <p>
            O bar e o seu dono se tornam criador e obra assim como um escritor e seu livro ou um escultor e sua arte
          </p>
          <p class="fst-italic">
            Você por acaso já reservou um dia para se assentar num barzinho, ouvir uma boa MPB, bater aquele papo e
            degustar do que há de melhor em nossa cozinha,
            sem se preocupar com boleto, post no Instagram de algum ex, trabalho exaustivo e essas coisas? Cê besta, vem
            pra cá!<br>
            Você por acaso só quis que o tempo parasse naqueles poucos segundos em que sua bebida favorita estiver
            descendo numa golada bem servida?
          </p>
          <ul>
            <li><i class="bx bx-check-double"></i> Cervejas artesanais nacionais e importadas.</li>
            <li><i class="bx bx-check-double"></i> Os melhores tira-gostos da nossa culinária.</li>
            <li><i class="bx bx-check-double"></i> Local onde o único intuito é comemorar a vida, nada de briga e
              confusão.</li>
          </ul>
          <p>
            Desde 1954 , bar ruim não dura tanto tempo assim não né ?
          </p>
        </div>
      </div>
    </div>
  </div>
</section>