{% load static %}
<section id="events" class="events">
    <div class="container">

      <div class="section-title">
        <h2>Organize Seus <span>Eventos</span> !</h2>
      </div>

      <div class="events-slider swiper">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="row event-item">
              <div class="col-lg-6">
                <img src="{% static 'img/event-birthday2.jpg' %}" class="img-fluid" alt="aniversario">
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0 content">
                <h3>Festa de aniversário</h3>
                <div class="price">
                  <p><span>R$129</span></p>
                </div>
                <p class="fst-italic">
                  Deixe com a gente. providenciamos até o bolo e se for para crinça, chamamos Os Vingadores para participarem ! 
                </p>
                <ul>
                  <li><i class="bi bi-check-circle"></i> Faremos os melhos docinhos e salgados.</li>
                  <li><i class="bi bi-check-circle"></i> Não importa a idade do aniversariante.</li>
                  <li><i class="bi bi-check-circle"></i> Contratamos cantor e/ou banda.</li>
                </ul>
                <p>
                  Essa data tão especial vai ficar na memória!
                </p>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="row event-item">
              <div class="col-lg-6">
                <img src="{% static 'img/confraternizacao.jpg' %}" class="img-fluid" alt="confraternizacao">
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0 content">
                <h3>Confraternizações</h3>
                <div class="price">
                  <p><span>R$189</span></p>
                </div>
                <p class="fst-italic">
                  O mundo dos negócios apresenta riscos, pressão e horas de trabalho duro. Temos que comemorar os resultados disso!
                </p>
                <ul>
                  <li><i class="bi bi-check-circle"></i> Sua empresa não é só uma máquina de fazer dinheiro. Amizades nasceram ali !</li>
                  <li><i class="bi bi-check-circle"></i> Venha festejar com sua turma e cair na zueira.</li>
                  <li><i class="bi bi-check-circle"></i> Oferecemos diversos drinks e excelentes aperitivos.</li>
                </ul>
                <p>
                  O que acontece num Happy Hour fica num Happy Hour...
                </p>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="row event-item">
              <div class="col-lg-6">
                <img src="{% static 'img/casamento.jpg' %}" class="img-fluid" alt="casamento">
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0 content">
                <h3>Casamentos</h3>
                <div class="price">
                  <p><span>R$299</span></p>
                </div>
                <p class="fst-italic">
                  Já ouviu essa? Festa de matrimônio em botequim? Depende do local... Garantimos estilo e elegância !
                </p>
                <ul>
                  <li><i class="bi bi-check-circle"></i> Contratamos designers renomados.</li>
                  <li><i class="bi bi-check-circle"></i> Seus convidados estarão bem servidos com nosso rico buffet.</li>
                  <li><i class="bi bi-check-circle"></i> A noiva recebe um dia de princesa com uma hair stylist e demais profissionais da beleza.</li>
                </ul>
                <p>
                  O que falos sobre o Bar do Paçoca ser a melhor escolha para se namorar é verdade. O casório é o resultado positivo disso !
                </p>
              </div>
            </div>
          </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section>