{% load static %}
<section id="gallery" class="gallery">
    <div class="container-fluid">

      <div class="section-title">
        <h2>Algumas fotos do <span>Bar do Paçoca</span></h2>
        <p>Pena que não podemos mostrar todas as centenas de registros de carinho e amizade que nossos clientes demonstraram por meio de fotografias. Veja aqui alguns:</p>
      </div>

      <div class="row g-0">

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="{% static 'img/gallery/galeria1.jpg' %}" class="gallery-lightbox">
              <img src="{% static 'img/gallery/galeria1.jpg' %}" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="{% static 'img/gallery/galeria2.jpg' %}" class="gallery-lightbox">
              <img src="{% static 'img/gallery/galeria2.jpg' %}" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="{% static 'img/gallery/galeria3.jpg' %}" class="gallery-lightbox">
              <img src="{% static 'img/gallery/galeria3.jpg' %}" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="{% static 'img/gallery/galeria4.jpg' %}" class="gallery-lightbox">
              <img src="{% static 'img/gallery/galeria4.jpg' %}" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="{% static 'img/gallery/galeria5.jpg' %}" class="gallery-lightbox">
              <img src="{% static 'img/gallery/galeria5.jpg' %}" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="{% static 'img/gallery/galeria6.jpg' %}" class="gallery-lightbox">
              <img src="{% static 'img/gallery/galeria6.jpg' %}" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="{% static 'img/gallery/galeria7.jpg' %}" class="gallery-lightbox">
              <img src="{% static 'img/gallery/galeria7.jpg' %}" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="{% static 'img/gallery/galeria8.jpg' %}" class="gallery-lightbox">
              <img src="{% static 'img/gallery/galeria8.jpg' %}" alt="" class="img-fluid">
            </a>
          </div>
        </div>

      </div>

    </div>
</section>