{% load static %}
<section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image:  url('/static/img/slide/slidetop3.jpg');">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown"><br><span>Bar do Paçoca</span> Comida Mineira</h2>
                <p class="animate__animated animate__fadeInUp">Bar boemio desde a década de 50. Cozinha mineira genuína passada de pai para filhos. Considerado por muitos o melhor buteco para namorar em Belo Horizonte/MG.<br>O segredo do sucesso? Comida boa e música ao vivo de qualidade.</p>
                <div>
                  <a href="#menu" class="btn-menu animate__animated animate__fadeInUp scrollto">Nosso Cardápio</a>
                  <a href="#contact" class="btn-book animate__animated animate__fadeInUp scrollto">Reserve uma mesa</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item" style="background-image: url('/static/img/slide/slidetop2.jpg');">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">Tá bão ou ocê quer mais?</h2>
                <p class="animate__animated animate__fadeInUp">Tem cerveja artesanal gelada, o famoso TROPEIRÃO DO PAÇOCA, tem pernil assado com farofa, torresmo a pururuca e galinhada caipira.</p>
                <div>
                  <a href="#menu" class="btn-menu animate__animated animate__fadeInUp scrollto">Nosso Cardápio</a>
                  <a href="#contact" class="btn-book animate__animated animate__fadeInUp scrollto">Reserve uma mesa</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Slide 3 -->
          <div class="carousel-item" style="background-image: url('/static/img/slide/slidetop1.jpg');">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">Fatos Verdadeiros</h2>
                <p class="animate__animated animate__fadeInUp" >Famoso por seus "causos", o Sr. Paçoca, com seus bem vividos 87 anos, não gosta de mentira e segundo ele, já tem registrado num caderninho 192 casamentos que começaram aos beijinhos aqui.</p>
                <div>
                  <a href="#menu" class="btn-menu animate__animated animate__fadeInUp scrollto">Nosso Cardápio</a>
                  <a href="#contact" class="btn-book animate__animated animate__fadeInUp scrollto">Agende uma mesa</a>
                </div>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

      </div>
    </div>
</section>

<div class="container">
  {% if messages %}
    {% for m in messages %}
      <div class="alert alert-{{ m.tags }}">
        <button type="button" class="close" data-dismiss="alert"></button>
        <strong>{{ m }}</strong>
      </div>
    {% endfor %}
  {% endif %}
</div>

