{% extends 'base.html' %}
{% load static %}
{% block content %}

  <!-- Hero Section -->
  {% include 'hero.html' %}
  <!-- End Hero -->

  <main id="main">
    <!-- About Section -->
    {% include 'about.html' %}
    <!-- End About Section -->

    <!-- Why Us Section -->
    {% include 'whyus.html' %}
    <!-- End Why Us Section -->

    <!--Menu Section -->
    {% include 'menu.html' %}
    <!-- End Menu Section -->

    <!-- Specials Section -->
    {% include 'special.html' %}  
    <!-- End Specials Section -->

    <!-- Events Section -->
    {% include 'events.html' %}
    <!-- End Events Section -->

    <!-- Gallery Section -->
    {% include 'gallery.html' %}
    <!-- End Gallery Section -->

    <!-- Chefs Section -->
    {% include 'chefs.html' %}
    <!-- End Chefs Section -->

    <!-- Testimonials Section -->
    {% include 'testimonials.html' %}
    <!-- End Testimonials Section -->
  
    <!-- Contact Section -->
    {% include 'contato.html' %}
    <!-- End Contact Section -->
  </main>
  
    <!-- Footer -->
    {% include 'footer.html' %}
    <<!-- End Footer -->

{% endblock %}