{% load static %}
<section id="menu" class="menu">
    <div class="container">

      <div class="section-title">
        <h2>Confira as delícias no <span>Menu</span></h2>
      </div>

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="menu-flters">
            <li data-filter="*" class="filter-active">Mostrar tudo</li>
            <li data-filter=".filter-starters">Entradas</li>
            <li data-filter=".filter-salads">Principais</li>
            <li data-filter=".filter-specialty">Especialidades</li>
          </ul>
        </div>
      </div>

      <div class="row menu-container">

        <div class="col-lg-6 menu-item filter-starters">
          <div class="menu-content">
            <a href="#menu">Torresmo a pururuca</a><span>R$14.00</span>
          </div>
          <div class="menu-ingredients">
            Torresmo carnudo crocante , molho barbecue
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-specialty">
          <div class="menu-content">
            <a href="#menu">Tropeirão</a><span>R$25.00</span>
          </div>
          <div class="menu-ingredients">
            Feijão tropeiro, linguiça caseira, couve, ovo frito, torresminho
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-starters">
          <div class="menu-content">
            <a href="#menu">Carne Cozida</a><span>R$8.00</span>
          </div>
          <div class="menu-ingredients">
            Maçã de peito com caldo, pão francês fatiado
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-salads">
          <div class="menu-content">
            <a href="#menu">Dobradinha com feijão branco</a><span>R$19.00</span>
          </div>
          <div class="menu-ingredients">
            Dobradinha com caldo, feijão branco, acompanha arroz e batatas assadas.
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-specialty">
          <div class="menu-content">
            <a href="#menu">Pernil Recheado</a><span>R$29.00</span>
          </div>
          <div class="menu-ingredients">
            Pernil recheado com farofa, acompanha arroz branco, abacaxi frambado e queijo coalho
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-starters">
          <div class="menu-content">
            <a href="#menu">Espetinho de Queijo Coalho</a><span>R$8.00</span>
          </div>
          <div class="menu-ingredients">
            Queijo coalho e molho verde
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-salads">
          <div class="menu-content">
            <a href="#menu">Suã com taioba</a><span>R$14.00</span>
          </div>
          <div class="menu-ingredients">
            Suã suína, taioba e caldo, acompanha arroz branco e farofa.
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-starters">
          <div class="menu-content">
            <a href="#menu">Pão de Alho</a><span>R$9.00</span>
          </div>
          <div class="menu-ingredients">
            Sabores: frango com catupiry, tomates secos, Queijo Gorgonzola, tradicional.
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-specialty">
          <div class="menu-content">
            <a href="#menu">Frango com Ora-pro-nobis</a><span>R$19.00</span>
          </div>
          <div class="menu-ingredients">
            Frango caipira com orapronobis, angú e caldo.
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-specialty">
          <div class="menu-content">
            <a href="#menu">Galopé</a><span>$82.00</span>
          </div>
          <div class="menu-ingredients">
            Galo (coxas, peito e asas) e pezinho suíno com caldo, acompanha arroz branco e farofa. 
          </div>
        </div>

      </div>

    </div>
</section>