{% load static %}
<section id="specials" class="specials">
    <div class="container">

      <div class="section-title">
        <h2>Confira nossas <span>Especialidades</span></h2>
        <p>Temos os nossos pratos principais que fazem sucesso por décadas. Confira o que há de melhor na cozinha de Minas.</p>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Tropeirão</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Frango com Ora-pro-Nobis</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Pernil Recheado</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Galopé</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Mix de Pratos</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-9 mt-4 mt-lg-0">
          <div class="tab-content">

            <div class="tab-pane active show" id="tab-1">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Tropeirão</h3>
                  <p class="fst-italic">Com origem nos acampamentos dos bandeirantes que desbravavam as terras de nosso país. Esse prato ganhou popularidade pela simplicidade e sabor.Acompanhado por couve, linguiça caseira e ovo frito.</p>
                  <p>Considerado o "carro chefe" do bar, o Tropeirão do Paçoca já foi o principal pedido de muita gente e ganhou fama em BH. A receita foi passada de geração a geração e hoje , os filhos do Seu Paçoca, Osmar e Tereza são os guardiões desse cobiçado prato.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="{% static 'img/specials-7.jpg' %}" alt="tropeirao" class="img-fluid">
                </div>
              </div>
            </div>

            <div class="tab-pane" id="tab-2">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Frango com Ora-pro-Nobis</h3>
                  <p class="fst-italic">Planta da família dos cactus, cujas folhas  são ricas em proteína (25%) Reza a lenda que o nome tem origem nas cidades mineiras do Brasil colonial, onde as igrejas eram cercadas por esta planta, que os padres não deixavam colher. ”.</p>
                  <p>Então por ocasião da reza do ora-pro-nobis, uma oração muito longa, as mães mandavam os filhos apanharem as folhas para a refeição dizendo: “está na hora do ora-pro-nobis, colham as folhas depressa antes que a oração termine!</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="{% static 'img/specials-8.jpg' %}" alt="frango" class="img-fluid">
                </div>
              </div>
            </div>

            <div class="tab-pane" id="tab-3">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Pernil Recheado</h3>
                  <p class="fst-italic">Pra quê esperar aaté o Natal na casa da sua sogra para saborear um pernil assado recheado com  aquela farofinha? Aqui a gente prepara com o mesmo carinho, no intuito de agradar as visitas. Então encomende esse prato que o deixamos no jeito pra você!</p>
                  <p>A carne suína além de ser bastante suculenta e saborosa é uma das mais consumidas no mundo, e aqui em Minas não é diferente! Nós mineiros amamos um pernil, tanto que serviços em diversas festividades, desde aniversários até cerimônias formais.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="{% static 'img/specials-11.jpg' %}" alt="pernil" class="img-fluid">
                </div>
              </div>
            </div>

            <div class="tab-pane" id="tab-4">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Galopé</h3>
                  <p class="fst-italic">Prato genuinamente do campo que ganhou uma grande aceitação nas cidades do nosso Brasil. Pergunta a algum parente seu de origem da roça  se ele gosta de um bom galopé. Aproveita e quando cê vier aqui, chama ele ! </p>
                  <p>Carne de galo caipira com pezinho suíno e um caldo encorpado e saboroso. Você pode fazer a dieta que quiser, pode urrar na academia, mas no dia que ver essa especialidade passando em uma panela em sua frente, você vai querer experimentar.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="{% static 'img/specials-9.jpg' %}" alt="galope" class="img-fluid">
                </div>
              </div>
            </div>

            <div class="tab-pane" id="tab-5">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Mix de Pratos</h3>
                  <p class="fst-italic">Faça uma combinação dos nossos pratos principais. Talvez você queira saborear o que há de bom na culinária mineira de uma vez! Tem problema não sô ! Será cobrado o prato de maior preço. Então aproveita!!!</p>
                  <p>Aqui você é livre para escolher combinar um arrozinho daqui, um galopé dali, um anguzinho de lá... Fique a vontade. O importante é ver você contente e satisfeito! Só não aconselhamos a misturar as bebidas porque aí dá um problema de lascar!</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="{% static 'img/specials-10.jpg' %}" alt="mix" class="img-fluid">
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
</section> 